[buildout]
buildoutnewest = false
extensions = mr.developer
develop =
    src/two


auto-checkout = *

parts = 
    test

[sources]
three = git git://github.com/andrii-shchudlo/three.git

[test]
recipe = zc.recipe.egg:scripts
dependent-scripts = true
eggs =
    two
    three
#    Paste
    pyramid
    waitress
    pyramid_debugtoolbar
